<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stryksta.swtorcentral"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	 
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@style/Theme.Swtor" android:allowBackup="true">
        <activity
            android:name="com.stryksta.swtorcentral.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.ReaderActivity"
            android:label="@string/reader_name" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.DatacronActivity"
            android:label="@string/server_name" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.ServerActivity"
            android:label="@string/server_main" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.ClassesActivity"
            android:label="@string/class_header" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.AdvancedClassActivity"
            android:label="@string/advanced_main" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.SettingsActivity"
            android:label="@string/settings_header" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.ProgressionActivity"
            android:label="@string/progression_main">
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.BlankActivity"
            android:label="@string/settings_header" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.EventsActivity"
            android:label="@string/event_main" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.PlanetActivity"
            android:label="@string/planet_main" 
            android:theme="@style/Theme.TranslucentActionBar.ActionBar.Overlay">
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.AbilityDetailActivity"
            android:label="@string/ability_detail_main" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.CharacterActivity"
            android:label="@string/character_main" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.CharacterAddActivity"
            android:label="@string/character_add_main" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.CharacterEditActivity"
            android:label="@string/character_edit_main" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/video_main" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.VideoPlayerActivity"
            android:label="@string/video_main" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.AchievementActivity"
            android:label="@string/achievements_main" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.TutorialActivity"
            android:label="@string/tutorials_main" >
        </activity>
        <activity
            android:name="com.stryksta.swtorcentral.TestActivity"
            android:label="@string/test_main" >
        </activity>
    </application>

</manifest>